html {
  height: 100%;
  width: 100%;
  background-color: #ded8ce;
}
body{
  margin: 0px;
  padding: 0px;
}
#home, #about, #contact, #projects, #resume{
  margin-top: 1vw;
  margin-right: 2vw;
  margin-left: 1vw;
  font-size: 1.1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  font-family: Times New Roman;
  background-color: #bfb09f;
  border-style:solid;
  border-width: 0.1vw;
  border-radius: 5vw;
  border-color: #5e5244;
}
.navigation{
  padding-top: 1vw;
  height: 4vw;
  padding-bottom: 1vw;
  background-color: #bfb09f;
  display:flex;
  justify-content: space-evenly;
}
a:link {
  text-decoration: none; 
  color: #5e5244;
}
a:visited { 
  text-decoration: none; 
  color: #5e5244;
}
a:hover { 
  text-decoration: none; 
  color: #5e5244;
}
a:active { 
  text-decoration: none; 
  color: #5e5244;
}
#home:hover{
  background-color: #ded8ce;
}
#about:hover{
  background-color: #ded8ce;
}
#projects:hover{
  background-color: #ded8ce;
}
#resume:hover{
  background-color: #ded8ce;
}
#contact:hover{
  background-color: #ded8ce;
}
h1{
text-align: center;
font-size: 3vw;
}
h3{
text-align: center;
font-size: 2vw;
}
.projects-footer{
height: 5vw;
background-color: #bfb09f;
padding-right: 2vw;
padding-top: 2vw;
padding-bottom: 1.5vw;
}
#project1, #project2, #project3{
margin-top: 1vw;
margin-bottom: 3vw;
margin-left: 5vw;
margin-right: 5vw;
padding-top: 1vw;
padding-bottom: 5vw;
padding-left: 10vw;
padding-right: 10vw;
border-radius: 1vw;
}
#project1:hover, #project2:hover, #project3:hover{
background-color: white;
}
#project1{
background-color: #b09e8b;
}
#project2{
background-color: #b09e8b;
}
#project3{
background-color: #b09e8b;
}
.text{
font-size: 1.2vw;
}
#git-text{
padding-left: 45vw;
}
#github{
margin-bottom: 2vw;
margin-left: 47vw;
border-color: #b09e8b;
background-color: #b09e8b;
padding-left: 2vw;
padding-right: 2vw;
}
#github:hover{
background-color: #ded8ce;
}