html {
  height: 100%;
  width: 100%;
  background-color: #ded8ce;
}
body{
  margin: 0px;
  padding: 0px;
}
@keyframes textCursor{
  0%{
    color:black;
    width: 0%;
  }
  100%{
    width: 57%;
    color: #5e5244;
    border-right: 0px solid #ded8ce;
  }
}

.text_animationDisplay{
  color :#ded8ce;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  font-size: 3vw;
  font-weight: 700;
  animation: textCursor 2.3s steps(30) forwards;
  margin-top: 5vw;
  margin-left: 32vw;
}
.text_animationDisplay2{
  color :#ded8ce;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  font-size: 3vw;
  font-weight: 700;
  animation: textCursor 2.3s steps(25) 2.3s forwards;
  margin-top: 2.2vw;
  margin-left: 32vw;
}
@keyframes box{
  0%{
    opacity: 0%;
  } 
  100%{
    opacity: 100%;
  }
  
}
.empty-box{
  width: 15vw;
  height: 15vw;
  opacity: 0%;
  transform: translateX(42vw);
  animation: box 2.3s linear 1.5s 1 normal forwards;
  background-color: #bfb09f;
  margin-top: 2.5vw;
  border-radius: 50%;
  margin-bottom: 1vw;
}
.empty-box img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.title-footer{
  height: 5vw;
  background-color: #bfb09f;
  padding-right: 2vw;
  padding-top: 2vw;
  padding-bottom: 1vw;
}
#home, #about, #contact, #projects, #resume{
  margin-top: 1vw;
  margin-right: 2vw;
  margin-left: 1vw;
  font-size: 1.1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;  
  padding-bottom: 0.5vw;
  margin-bottom: 1vw;
  font-family: Times New Roman;
  background-color: #bfb09f;
  border-style:solid;
  border-width: 0.1vw;
  border-radius: 5vw;
  border-color: #5e5244;
}
.navigation{
  padding-top: 1vw;
  height: 4vw;
  padding-bottom: 1vw;
  background-color: #bfb09f;
  display:flex;
  justify-content: space-evenly;
}
a:link {
  text-decoration: none; 
  color: #5e5244;
}
a:visited { 
  text-decoration: none; 
  color: #5e5244;
}
a:hover { 
  text-decoration: none; 
  color: #5e5244;
}
a:active { 
  text-decoration: none; 
  color: #5e5244;
}
#home:hover{
  background-color: #ded8ce;
}
#about:hover{
  background-color: #ded8ce;
}
#projects:hover{
  background-color: #ded8ce;
}
#resume:hover{
  background-color: #ded8ce;
}
#contact:hover{
  background-color: #ded8ce;
}
.introduction{
  margin: auto;
  margin-bottom: 2vw;
  padding: 1vw;
  width: 50vw;
  border-color: #bfb09f;
  margin-left: auto;  
  background-color:  #bfb09f;
  border-style: solid;
  border-radius: 2vw;
}
#intro{
  color: #5e5244;
  font-size: 1.5vw;
}