html {
  height: 100%;
  width: 100%;
  background-color: #ded8ce;
}
body{
  margin: 0px;
  padding: 0px;
}
#home, #about, #contact, #projects, #resume{
  margin-top: 1vw;
  margin-right: 2vw;
  margin-left: 1vw;
  font-size: 1.1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 0.5vw;  
  padding-bottom: 0.5vw;
  margin-bottom: 1vw;
  font-family: Times New Roman;
  background-color: #bfb09f;
  border-style:solid;
  border-width: 0.1vw;
  border-radius: 5vw;
  border-color: #5e5244;
}
.navigation{
  padding-top: 1vw;
  height: 4vw;
  padding-bottom: 1vw;
  background-color: #bfb09f;
  display:flex;
  justify-content: space-evenly;
}
a:link {
  text-decoration: none; 
  color: #5e5244;
}
a:visited { 
  text-decoration: none; 
  color: #5e5244;
}
a:hover { 
  text-decoration: none; 
  color: #5e5244;
}
a:active { 
  text-decoration: none; 
  color: #5e5244;
}
#home:hover{
  background-color: #ded8ce;
}
#about:hover{
  background-color: #ded8ce;
}
#projects:hover{
  background-color: #ded8ce;
}
#resume:hover{
  background-color: #ded8ce;
}
#contact:hover{
  background-color: #ded8ce;
}
h1{
text-align: center;
font-size: 3vw;
}
.resume-footer{
height: 5vw;
background-color: #bfb09f;
padding-right: 2vw;
padding-top: 2vw;
padding-bottom: 1.5vw;
}
#download-button{
font-family: 'Times New Roman', Times, serif;
font-size: 1.2vw;
border-style:solid;
border-width: 0.1vw;
border-radius: 5vw;
padding-top: 1vw;
height: 4vw;
padding-bottom: 1vw;
padding-left: 2vw;
padding-right: 2vw;
margin-bottom: 5vw;
margin-left: 42vw;
background-color: white;
}
#download-button:hover{
background-color: #bfb09f;
}
